<div class="two_columns">
<div class="container">
	<div class="row foto">
			<div class="col-xs-6">
				<%= image_tag("nasze.jpeg", :class => "img-responsive") %>
			</div>
			<div class="col-xs-6 cechy">
			     	<P>More than 10 years of experience</P>
			     	<p>5 - star rating as freelancers (2013-2017)</p>
			     	<p>International clients</p>
			     	<p>Created from scratch multimillion-dollar startup</p>
			     	<p>Mastered multiple AI algorithms</p>
			</div>
	  		</div>
		</div>
	</div>
		<div class="credentials"> 
		<div class="container">	
		<div class="row">
		<div class="arrow_box">
			<p> I just can't say enough about Dimitry. Dimitry is far and away the best freelancer I've worked with. 
			<br> <b>He is great! If you have any Ruby on Rails work to be done, stop looking: Dimitry is awesome.</b> <br>

			He thinks about what your project needs are and offers multiple solutions with pros and cons of each option. He considers long-term strategy and works to make your product flexible and scalable for the future. <br>

			He is available on Skype during business hours and his English skills are amazing. He communicates on a regular basis with screenshots and video to help explain what he's currently doing. <br>

			He is great at making web apps fast - the service he set up for me has a faster response time than Twitter.
				<br>
			He makes change requests reality in minutes (and isn't grumpy about it). 
				<br>
			I've worked with many freelancers, and no one has been as skilled, thoughtful, helpful, available, responsive, fluent in English, friendly as Dimitry.<br>
			</p>
</div>
</div>
			<div class="row">
			<br> 
			<p> <b> Ruby on Rails Membership Site + API <br>
			Jun 2013 - Aug 2013 </p> </b>
			<br>
			<br>
			</div>
			<div class="row">
			<div class="col-xs-6">
				<div class="arrow_box">
				<p><b> Extremely hard worker. </p></b>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="arrow_box">
				<p><b> Great contractor, worked fasts and was extremely responsive. <br> Will definitely hire again. </p></b>
				</div>
			</div>
			</div>


	</div>
	</div>
	</div>

	
	<div class="team_block">
	<div class="container">
		<div class="row"> 
				<h2> Team </h2>
		</div>
			  <div class="row">
			     <div class="col-xs-2">
			    <%= image_tag("", :class => "face") %>
			     </div>
			    <div class="col-xs-4">
			    <h3> Dmitry </h3>
			    <p> Master and chef </p>
			    </div>

			    <div class="col-xs-2">
			    <%= image_tag("faces/kasia.jpeg", :class => "face") %>
			     </div>
			    <div class="col-xs-4">
			    <h3> Kasia </h3>
			    <p> Master and chef </p>
			    </div>
			  </div>

			   <div class="row">
			    <div class="col-xs-2">
			    <%= image_tag("", :class => "face") %>
			     </div>
			    <div class="col-xs-4">
			    <h3> Tatiana </h3>
			    <p> Master and chef </p>
			    </div>

				<div class="col-xs-2">
			    <%= image_tag("faces/Tob.jpeg", :class => "face") %>
			     </div>
			    <div class="col-xs-4">
			    <h3> Tob </h3>
			    <p> Master and chef </p>
			    </div>
			  </div>
	</div>    
	</div>


	<div class="container items">
	  <div class="row">
	    <div class="col-xs-4">
	    	<%= image_tag("paper.jpeg") %>
	      <h3>Project of any complexity </h3>
	      <div class="small_line"> </div>
	      <p>For us: impossible is... possible.<br>
	      We can do everything from one page website to google competitor or AI which conquer the World ;) </p>
	    </div>

	    <div class="col-xs-4">
	    	<%= image_tag("calendar.jpeg") %>
			<h3>Everything on time! </h3>	    
			<div class="small_line"> </div>
			<p>Good organization, time managment and focus on your work</p>
			
		</div>

	    <div class="col-xs-4">
	    <%= image_tag("photoes.jpeg") %>
			<h3> Nouvelle projects - only for you...</h3>	    
			<div class="small_line"> </div>
			<p>With the latest news from IT</p>
			
		</div>
	  </div>
	</div>


	
<div class="hands">	
<%= image_tag("keyboard-computer-keys-white.jpeg", :class => "background_img") %>
	<div class="container">
		<h1>Technologies we are working with: </h1>
		
		<% Dir.glob("#{Rails.root}/app/assets/images/loga/*").each do |img_file| %>
			<%= image_tag("loga/"+File.basename(img_file), :class => "logo_img") %>

		<% end %>
	</div>
</div>
	

	<div class="credentials reviews_row2"> 
	<div class="container">
	<div class="row">
			<div class="col-xs-6">
				<div class="arrow_box">
				<p><b> Very happy with Dmitry! <br> Really wish he could be part of our team forever.</p></b>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="arrow_box">
				<p><b> Dimitry is great once again. He provides updates every day as to his progress,<br> provides a private Github repo so you can check his commits,<br> and his work is great. Read my other longer review for more information! </p></b>
				</div>
				<br>
				<br>
				<br>
			</div>
	</div>
	</div>
	<div class="container review_row3">
		<div class="row">
				<div class="col-xs-6">
					<div class="arrow_box">
					<p> As a first time user of Elance, Dmitry definitely made our job easy. We had indicated that we needed specific skills and a specific project done and he handled it all with very quick communication, excellent expertise and did it all in the version of Rails that we needed. Furthermore we came out perfectly on budget for what we wanted.<br>
					<br> Would definitely hire him again.<br>
					</p>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="arrow_box">
					<p><b> Really good work! I'm impressed, usually I'm not happy with freelancers </p></b>
					</div>
					<br>
				<br>
				<br>
				</div>
		</div>
		</div>



<div class="clients_map">
<div class="container">
		<h1>International clients</h1>
		
		<%= image_tag("map.png", :class=> "map") %>
		<br>
		<%= image_tag("pobrane.png") %>
		<%= image_tag("komp.png") %>
		<%= image_tag("pobrane (1).png") %>

</div>
</div>

	</div>	
	</div> 

