	<div class="uppage">
		<div class="container">
			  <div class="jumbotron">
			  	<%= image_tag("naszelogo/Icon.png", :class => "logo_jumbatron") %>
			    <h1>COUPLE ON RAILS</h1> 
			    <p>All web related projects at hand. </p> 
			    <a href="#" class="btn btn-info button_jumbatron" role="button">Contact us</a>
				</div>
		</div>
	</div>

	<div class="pasek">
	<div class="pasek_left"> </div>
	<div class="pasek_right"></div>
			<div class="container">
				<div class="row firstrow">
					<div class="number_col pinkbackground">
						<h1 class="rozowa1">1 </h1>
						<h3>MORE THAN <br><b>10 YEARS OF</b> EXPERIENCE</h3>
					</div>
					<div class="number_col secondpart">
						<h1 class="szare num_right_down"> 2 </h1>
						<h3> 5 - STAR RATING AS FREELANCERS</h3>
						<h2>2013-2017</h2>
					</div>
					<div class="number_col thirdpart">
						<h1 class="szare">3 </h1>
						<h3>INTERNATIONAL</h3>
						<h2>CLIENTS</h2>
					</div>
					<div class="number_col fourthpart">
						<h1 class="szare num_right_down">4 </h1>
						<h3>CREATED FROM SCRATCH MULTIMILLION-DOLLAR</h3>
						<h2>STARTUP</h2>
					</div>
					<div class="number_col fifthpart">
					<h1 class="szare">5 </h1>
						<h3>MASTERED MULTIPLE</h3><br> 
						<h2><b>AI ALGORITHMS</b></h2>
					</div>
				</div>
			</div>
	</div>




<div class="credentials"> 
	<div class="container container_credentials">	
		<div class="row">
			<table class="table_credentials">
			  <tr>
			    <th class="credential-row">
				   <%= image_tag("qnotes.png", :class => "qnotes") %>
					<br>
					<br>
					<p> Extremely hard worker. </p>
				</th>
			    <th class="credential-row">
				    <%= image_tag("qnotes.png", :class => "qnotes") %>
					<br>
					<br>
					<p> Very happy with Dmitry! <br> Really wish he could be part of our team forever.</p>
			    </th>
			  
			  </tr>
			  <tr>
			    <td class="credential-person"> <%= image_tag("faces/Tob.jpg") %> 
				    <div class="credential_text_person">
					    <h2>CHRIS PETERS </h2> 
					    <h3>DIRECTOR OF MARKETING AND PR, DIGGERLAND USA </h3>
					</div>
			    </td>
			    <td class="credential-person"> <%= image_tag("faces/Tob.jpg") %> 
			    	<div class="credential_text_person">
				    	<h2>CHRIS PETERS </h2> 
					    <h3>DIRECTOR OF MARKETING AND PR, DIGGERLAND USA </h3> 
				    </div>
				</td>
			  </tr>
			  </table>
		</div>
	</div>		
</div>

	
	<div class="team_block">
	<div class="container">
		<div class="row"> 
				<h2> Team </h2>
		</div>
			  <div class="row row_photos">
			     <div class="col-sm-3">
			    <%= image_tag("faces/Dima.jpg", :class => "face") %>
			    <h3>Dmitry</h3>
			    <p>Master and chef</p>
			     </div>

			    <div class="col-sm-3">
			    <%= image_tag("faces/kasia.jpg", :class => "face") %>
			    <h3> Kasia </h3>
			    <p> Master and chef </p>
			     </div>
			
			    <div class="col-sm-3">
			    <%= image_tag("faces/tatiana.jpg", :class => "face") %>
			    <h3> Tatiana </h3>
			    <p> Master and chef </p>
			     </div>

				<div class="col-sm-3">
			    <%= image_tag("faces/Tob.jpg", :class => "face") %>
			     <h3> Tob </h3>
			    <p> Master and chef </p>
			     </div>
			  </div>
	</div>    
	</div>


	<div class="container items">
	  <div class="row row_items">
	    <div class="col-sm-4">
		    <div class="all_col all_col_left">
		     	<div class="notatki_img">
		     		<div class="podklad"> 
		     		<%= image_tag("notatki.jpg") %>
		     		</div>
		     	</div>
		     	<div class="title_item">
		     		<h3>Project of any complexity</h3>
		     	</div>
		     	<div class="text_item">
		     		 <p>For us: impossible is... possible.<br>
		      			We can do everything from one page website to google competitor or AI which conquer the World ;) </p>
		     	</div>
		    </div>
	    </div>

	    <div class="col-sm-4">
	    	<div class="all_col all_col_center">
				<div class="kalendarz_img">
		     		<div class="podklad"> 
		     		<%= image_tag("kalendarz.jpg") %>
		     		</div>
		     	</div>
		     	<div class="title_item">
		     		<h3>Everything on time!</h3>
		     	</div>
		     	<div class="text_item">
		     		 <p>Good organization, time managment and focus on your work </p>
		     	</div>
		     </div>
		</div>

	    <div class="col-sm-4">
	    	<div class="all_col all_col_right">
				<div class="kalendarz_img">
		     		<div class="podklad"> 
		     		<%= image_tag("tablica.jpg") %>
		     		</div>
		     	</div>
		     	<div class="title_item">
		     		<h3>Nouvelle projects <br>- only for you...</h3>
		     	</div>
		     	<div class="text_item">
		     		 <p>With the latest news from IT </p>
		     	</div>
		     </div>
		</div>
	  </div>
	</div>


	
<div class="hands">	
	<div class="container">
		<h1>Technologies we are working with: </h1>
			<div class="logos_container">
				<% Dir.glob("#{Rails.root}/app/assets/images/loga/*").each do |img_file| %>
					<%= image_tag("loga/"+File.basename(img_file), :class => "logo_img") %>
				<% end %>
			</div>
			<div class="logo_button" id="show_logos_button">
			<p>ALL TECHNOLOGIES </p>
			</div>
	</div>
</div>
	
<div class="credentials"> 
	<div class="container container_credentials">	
		<div class="row">
			<table class="table_credentials">
			  <tr>
			    <th class="credential-row">
				   <%= image_tag("qnotes.png", :class => "qnotes") %>
					<br>
					<br>
					<p> Very happy with Dmitry! Really wish he could be part of our team forever.</p>
				</th>
			    <th class="credential-row">
				    <%= image_tag("qnotes.png", :class => "qnotes") %>
					<br>
					<br>
					<p> Dimitry is great once again. He provides updates every day as to his progress, provides a private Github repo so you can check his commits, and his work is great. Read my other longer review for more information! </p>
			    </th>
			  
			  </tr>
			  <tr>
			    <td class="credential-person"> <%= image_tag("faces/Tob.jpg") %> 
				    <div class="credential_text_person">
					    <h2>CHRIS PETERS </h2> 
					    <h3>DIRECTOR OF MARKETING AND PR, DIGGERLAND USA </h3>
					</div>
			    </td>
			    <td class="credential-person"> <%= image_tag("faces/Tob.jpg") %> 
			    	<div class="credential_text_person">
				    	<h2>CHRIS PETERS </h2> 
					    <h3>DIRECTOR OF MARKETING AND PR, DIGGERLAND USA </h3> 
				    </div>
				</td>
			  </tr>
			  </table>
		</div>
	</div>		
</div>

<div class="clients_map">
<div class="container">
		<h1>International clients</h1>

			<%= image_tag("glownamapa.png", :class=> "map") %>


</div>
</div>

	</div>	
	</div> 

