<div class="page-header">
  <%= link_to new_test_model_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Test model
  <% end %>
  <h1>Listing test_models</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Published</th>
            <th>Publish at</th>
            <th>Conversion rate</th>
            <th>Views counter</th>
            <th>State</th>
            <th>City</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @test_models.each do |test_model| %>
          <tr>
            <td><%= test_model.title %></td>
            <td><%= test_model.body %></td>
            <td><%= test_model.published %></td>
            <td><%= test_model.publish_at %></td>
            <td><%= test_model.conversion_rate %></td>
            <td><%= test_model.views_counter %></td>
            <td><%= test_model.state_id %></td>
            <td><%= test_model.city_id %></td>
            <td><%= link_to 'Show', test_model %></td>
            <td><%= link_to 'Edit', edit_test_model_path(test_model) %></td>
            <td><%= link_to 'Destroy', test_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
