<!DOCTYPE html>
<html>
  <head>
    <title>Couple on rails</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
	<div class="top_home_background"> 
		<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
				   <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
            </button>
			    <div class="logocontainer">
			      <a class="navbar-brand"> <%= image_tag("naszelogo/Icon.png", :class => "img-logo") %> </a>
			      </div>
			      <div class="logo_text"> Couple on rails </div>
			    </div>

			    <div id="navbar" class="navbar-collapse collapse">
				    <ul class="nav navbar-nav navbar-right" ">
				      <li class="active"><a href="#">Home</a></li>
				      <li><a href="#">Offer</a></li>
				      <li><a href="#">Team</a></li>
				      <li><%= link_to "Examples", examples_path %></li>
				      <li><a href="#">Contact</a></li>
				    </ul>
				</div>
			  </div>
			</nav>
		</div>
	</div>
	

		<%= yield %>


	<div class="footer"> 
		<div class="container">
			<div class="row">
				<div class="col-xs-6 footer_copywrite">
					<i class="fa fa-copyright" aria-hidden="true"></i>
					<p> 2017 Couple on rails. All rights reserved. </p>
				</div>
				<div class="col-xs-6">
					<div class="icons">
						<div class="icon_fb_background icons_background">
							<i class="fa fa-facebook fa_social" aria-hidden="true"></i> 
						</div>
						<div class="icon_yt_background icons_background">
							<i class="fa fa-youtube fa_social" aria-hidden="true"></i>
						</div>
						<div class="icon_insta_background icons_background">
							<i class="fa fa-instagram fa_social" aria-hidden="true"></i>
						</div>
				</div>
			</div>
			</div>
		</div>
	</div>
			

  </body>
</html>
